@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* Selection controls */
.gopkgview-ctrl {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(238, 238, 238);
}

.gopkgview-ctrl-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.gopkgview-ctrl-title {
  font-family: monospace;
  margin-left: 0.5rem;
  margin-right: 0.25rem;

}

.gopkgview-ctrl-close {
  color: rgb(255, 255, 255);
  background-color: rgb(185 28 28);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.gopkgview-ctrl-close:hover {
  background-color: rgb(153 27 27);
}

.gopkgview-ctrl-only {
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(28, 41, 185);
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

.gopkgview-ctrl-only:hover {
  background-color: rgb(24, 36, 158);
}